/* 모바일 최적화는 X */

body {
  display: flex;
  justify-content: center;
  background-color: var(--black);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 3rem 4rem;
  width: 80%;
  max-width: 1000px;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  flex: 1;
}

@media only screen and (max-width: 750px) {
  .blocks {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}

.container form {
  display: flex;
  column-gap: 2rem;
  height: 50px;
}

.container input {
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 0 10px;
  height: 100%;
}

form button {
  width: 200px;
  height: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.1);
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.item {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 1px 0px 3px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 85%;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.block button {
  border-radius: 4px;
  width: 100%;
}

.dragover {
  background-color: var(--grey);
}
