body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  padding-top: 30px;
  width: 60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.container button {
  width: 100%;
}

.container ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: var(--white);
  width: 100%;
  padding: 20px 0;
  border-radius: 15px;
}

.name {
  font-size: 160%;
}

.price {
  font-size: 85%;
  color: var(--red);
}

.sort-buttons {
  display: flex;
  column-gap: 20px;
  width: 100%;
}

.sort-buttons button {
  width: 100%;
}

.asceding {
  background-color: var(--green);
}

.descending {
  background-color: var(--orange);
}
